# Environment variables
.env

# Virtual environments
rag_env/
myenv/
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Generated vector databases
faiss_db/
chroma_db/

# User uploaded documents
data/uploads/

# Local chat history
data/chat_history.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
data/chat_history.json
